.navbar-pic{
    background-image: url(../images/login1.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 730px;
   
    
    
}

.brand-link{
    color: white;
}


